Name,Group
Luke Skywalker,Light Side
Leia Organa,Light Side
Han Solo,Light Side
Obi-Wan Kenobi,Light Side
Yoda,Light Side
Padmé Amidala,Light Side
Rey,Light Side
Finn,Light Side
Poe Dameron,Light Side
Chewbacca,Light Side
C-3PO,Light Side
R2-D2,Light Side
Mace Windu,Light Side
Ahsoka Tano,Light Side
Anakin Skywalker,Dark Side
Darth Vader,Dark Side
Emperor Palpatine,Dark Side
Darth Sidious,Dark Side
Count Dooku,Dark Side
Darth Tyranus,Dark Side
Kylo Ren,Dark Side
Ben Solo,Light Side
General Grievous,Dark Side
Boba Fett,Neutral
Jabba the Hutt,Neutral