Name,Group,Password
Luke Skywalker,Light Side,9e?P}JQc8./_B6Jd
Leia Organa,Light Side,5jmy~kI~B-=\~sDy
Han Solo,Light Side,>1K/2-nVTj-OIMWD
Obi-Wan Kenobi,Light Side,bq}>bOUx8sVCVpS:
Yoda,Light Side,E=yhuB2.W.={T?hV
Padmé Amidala,Light Side,cAjEyL@?$.J]T=D>
Rey,Light Side,:+59i4[9FE2;Dm0H
Finn,Light Side,RK3HT:vky^mfK4OG
Poe Dameron,Light Side,J?Kv];}//|w5pM;`
Chewbacca,Light Side,"U0|x#`ib""2;px^{P"
C-3PO,Light Side,E7~O+)RI/8Jw!1R/
R2-D2,Light Side,:Z_|;|}T!iA^p&5z
Mace Windu,Light Side,"""""+x<'}{$ZyE`V0B"
Ahsoka Tano,Light Side,F'hi#WeCK(h})C_T
Anakin Skywalker,Dark Side,D9{S*d*MXMs]=2=h
Darth Vader,Dark Side,xvC/I;kx:w<DO<(6
Emperor Palpatine,Dark Side,~l`[I`o5~N|2?x>y
Darth Sidious,Dark Side,-C&]5[*(\meL~kU*
Count Dooku,Dark Side,*ruKRrb\h<Ih6:BI
Darth Tyranus,Dark Side,=EcUchO:oy'Uk:Wc
Kylo Ren,Dark Side,>}xMTQyn8+\iD9f2
Ben Solo,Light Side,"H""*`8Tx4%E&u:d-$"
General Grievous,Dark Side,'EfG~lTg;]#Q^gNi
Boba Fett,Neutral,"Xm`l?n;bNL""Ih_6E"
Jabba the Hutt,Neutral,&S2~Zy5[VL5ivj__
