# This is the network config written by 'subiquity'
network:
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      addresses:
        - {{ IPnMask }}
      nameservers:
        addresses:
        - {{ Nameserver }}
      routes:
        - to: default
          via: {{ Gateway }}
  version: 2
